name: push docker image

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

jobs:
  
  build-and-store-artifacts:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v4
      with:
        submodules: true
    - name: unshallow fetch
      run: git fetch --prune --unshallow
    - name: setup go
      uses: actions/setup-go@v5
      with:
        go-version-file: './go.mod'
    - name: setup node 
      uses: actions/setup-node@v4
      with:
        node-version: 20
    - name: setup yarn
      run: |
        npm install --global yarn
    - name: compile
      shell: bash
      run: |
        make bin
    - name: store uclipboard-linux-amd64
      uses: actions/upload-artifact@v4
      with:
         name: uclipboard-linux-amd64
         path: ./build/uclipboard-linux-amd64

  build-upload-docker-image:
    runs-on: ubuntu-latest
    needs: build-and-store-artifacts
    steps:
      - uses: actions/checkout@v4
      - name: store release tag
        run: echo "TAG=$(basename ${{ github.ref }})" >> $GITHUB_ENV
      - name: download artifact
        uses: actions/download-artifact@v4
        with:
          name: uclipboard-linux-amd64
          path: build
      - run: ls ./build
      - name: log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: build and push Docker image with tag:${{ env.TAG }} 
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./dockerfile
          push: true
          tags: djh233/uclipboard:${{ env.TAG }} 
      - name: build and push Docker image with tag:latest
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./dockerfile
          push: true
          tags: djh233/uclipboard:latest
        
        